body{
  margin: 0;
  text-align: auto ;
  font-family: 'Merriweather',serif;
  text-align:center;
}

.top-container{
background-color: #99ffbb;
padding-top: 5%;
position: relative;
}

h1{
  width: 10%
  margin: 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Monstserrat', sans-serif;

}
h3{
  font-family: 'Monstserrat', sans-serif;

}


span{text-decoration: underline;
}

.wrapper{
  width: 100%;
}

.mountain{
  width: 100%;
}
.cloud1{
  width: 30%;
}
.cloud2{
  width: 15%;
}
.a{
  width: 100%;
}
.b{
  width: 100%;
}
.c{
  width: 100%;
}
.d{
  width: 100%;
}
.e{
  width: 100%;

.wrapper{
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
}
